<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css\bootstrap.css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js\bootstrap.js"></script>
<script src="js\jspdf.min.js"></script>
<script src="js\jspdf.plugin.autotable.js"></script>
<link rel="stylesheet" href="css\custom.css">
<script src="https://kit.fontawesome.com/c171c885c2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="jquery-ui-1.12.1\jquery-ui.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {
    $("#datepicker").datepicker();
    $("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
    $("#datepicker2").datepicker();
    $("#datepicker2").datepicker("option", "dateFormat", "yy-mm-dd");
  });
</script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="images\favicon\favicon.ico" type="image/x-icon" />
  <title>Editar Productos</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="font-family: dkfont;cursor: default;color: white"> <img src="images\apple.png"
      width="30" height="30" class="d-inline-block align-top" alt=""> SantaFeria App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown" id="navInv">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Inventario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href='/addProduct'>Agregar Producto</a>
          <a class="dropdown-item" href='/listProducts'>Lista de Productos</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="navVen">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Ventas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href='/makeSale'>Realizar Venta</a>
          <a class="dropdown-item" href='/listSales'>Lista de Ventas</a>
        </div>
      </li>

      <li class="nav-item dropdown" id="navAdm">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Administrador
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href='/addUser'>Agregar Usuario</a>
          <a class="dropdown-item" href='/listUsers'>Lista de Usuarios</a>
          <a class="dropdown-item" href='/reportManag'>Gestión de Reportes</a>
        </div>

      </li>
      <li class="nav-item dropdown" style="position: absolute; right: 120px">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"> <img src="\images\user.png" width="30" height="30">
          Sesión
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item">
            <p id="user" style="color: black"></p>
          </a>
          <script>
            document.getElementById("user").innerHTML = "<%=sesion.nameUser%>";
          </script>
          <a class="dropdown-item" href="/passChange">Cambiar Contraseña</a>
          <script>


            function logout() {
              Swal.fire({
                title: '¿Estás seguro de que quieres cerrar sesión?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Confirmar'
              }).then((result) => {
                if (result.value) {
                  let timerInterval;
                  Swal.fire({
                    title: 'Hasta la próxima!',
                    timer: 2000,
                    timerProgressBar: true,
                    onBeforeOpen: () => {
                      Swal.showLoading()
                      timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                          const b = content.querySelector('b')
                          if (b) {
                            b.textContent = Swal.getTimerLeft()
                          }
                        }
                      }, 100)
                    },
                    onClose: () => {
                      clearInterval(timerInterval)
                    }
                  }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                      console.log('Message was closed by the timer')
                    }
                  });
                  window.location = '/';
                }
              })
            }
          </script>
          <a class="dropdown-item" onclick="logout()" style="cursor:pointer">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
  <script>

    var tipoUsuario = '<%= sesion.typeUser%>'; //acá va el tipo de usuario que puede ser int
    var nav1 = document.getElementById('navInv');
    var nav2 = document.getElementById('navVen');
    var nav3 = document.getElementById('navAdm');
    if (tipoUsuario == 'administrador') { //envés de admin puede ser el int

      nav1.style.display = 'block';
      nav2.style.display = 'block';
      nav3.style.display = 'block';


    } else {
      if (tipoUsuario == 'ventas') {
        nav1.style.display = 'none';
        nav2.style.display = 'block';
        nav3.style.display = 'none';

      } else { //es Inventario
        nav1.style.display = 'block';
        nav2.style.display = 'none';
        nav3.style.display = 'none';
      }

    }
  </script>
</nav>
<div>
  <break></break>
</div>

<body>

  <img src="images\textura dk.jpg" alt="" style="border-radius: 15% ;position: absolute; top: 60px; 
	left: 355px; width:645px;height:110px;">
  <div class="container" align="center">
    <div class="titulos" align="center">
      <h1 class="display-3" style="position:relative;font-family: dkfont; font-size: 72px; color:red; font-weight: bold;text-shadow: 2px 0 0 #ffee00, -2px 0 0 		#ffee00, 0 2px 0 #ffee00, 0 -2px 0
			#ffee00, 1px 1px #ffee00, -1px -1px 0 #ffee00, 1px -1px 0 #ffee00, 1px -1px 0 #ffee00, 
			1px -1px 0 #ffee00, -1px 1px 0 #ffee00">Editar producto</h1>
      <!-- <p class="lead">Por favor, inicie sesión con los datos solicitados debajo</p> -->
    </div>
  </div>
  <br>

  <div align="center">
    <div class="cuerpo4" style="height: 220px; width: 990px">
      <form action="addProduct" id="editProd" method="post">
        <div class="form-group" style="padding: 4px;">

          <label for="Cod"> Código</label>
          <input type="text" class="form-control" name="codigo" value="<%= producto.codigo %>" disabled>
          <input type="hidden" class="form-control" id="cod" name="cod" value="<%= producto.codigo %>">

          <label for="Stock"> Stock Actual </label>
          <input type="text" class="form-control" style="width: 100px" id="stock" name="stock"
            value="<%= producto.stockact %>" required>

        </div>
        <div class="form-group" style="padding: 4px">

          <label for="Nombre"> Nombre </label>
          <input type="text" class="form-control" id="name" name="name" value="<%= producto.nombre%>" required>


          <label for="Mínimo"> Stock Mínimo </label>
          <input type="text" class="form-control" style="width: 100px" id="stock_min" name="stock_min"
            value="<%= producto.stockmin%>" required>

        </div>
        <div class="form-group" style="padding: 4px">
          <!-- Columna 3 del form-->
          <label for="marca"> Marca </label>
          <input type="text" class="form-control" id="marca" name="marca" value="<%= producto.marca%>" required>
          <label for="tipo"> Tipo C/NC</label>
          <select name="seleccion" id="seleccion" onchange="toggle()">
            <option value="comestible">Comestible</option>
            <option value="no comestible">No Comestible</option>
          </select>
          <input type="hidden" class="form-control" name="oldtipo" value="<%= producto.tipo%>">

          <label for="Precio"> Precio </label>
          <input type="text" class="form-control" style="position: absolute; top: 320px; left: 770px;width: 100px" id="precio" name="precio"
            value="<%= producto.precio%>" required>
          <script>
            function toggle() {
              var cont = document.getElementById('cont');
              var cont2 = document.getElementById('cont2');
              if (cont.style.display == 'block') {
                cont.style.display = 'none';
                cont2.style.display = 'block';
              }
              else {
                cont.style.display = 'block';
                cont2.style.display = 'none';
              }
            }
          </script>

        </div> <!-- Columna 4 del form-->
        <div class="form-group" id="cont" style="display:block; padding: 10px;">
          <div class="input-group date" id="datetimepicker8">
            <label for="Elaboración" style="padding: 2px">Elaboración</label>
            <p><input type="text" style="width: 90px; padding-left: 4px" name="elaboracion" id="datepicker"
                value="<%=producto.fechaelab%>"></p>
            <span class="input-group-text" style="max-height: 30px; padding: 4px">
              <span class="fa fa-calendar">
              </span>
            </span>
            <label for="Vencimiento">Vencimiento</label>
            <p><input type="text" style="width: 90px; padding-left: 4px" name="vencimiento" id="datepicker2"
                value="<%=producto.fechavenc%>"></p>
            <span class="input-group-text" style="max-height: 30px; padding: 4px">
              <span class="fa fa-calendar">
              </span>
            </span>
          </div>
          <script>
            function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };
            function convert(str) {
              var date = new Date(str), mnth = ("0" + (date.getMonth() + 1)).slice(-2), day = ("0" + date.getDate()).slice(-2);
              return [date.getFullYear(), mnth, day].join("-");
            }
            var elab = convert("<%=producto.fechaelab%>");
            document.getElementById('datepicker').setAttribute('placeholder', elab);

            var venc = convert("<%=producto.fechavenc%>");
            document.getElementById('datepicker2').setAttribute('placeholder', venc);
            console.log(elab + " " + venc)

            function comprobarValidez(tipo) {
              var cod = document.getElementById('cod').value
              var nombre = document.getElementById('name').value;
              var marca = document.getElementById('marca').value;
              var stockact = document.getElementById('stock').value;
              var stockmin = document.getElementById('stock_min').value;
              var precio = document.getElementById('precio').value;
              var tipo = document.getElementById('seleccion').value;

              if (tipo == "comestible") {
                var elab = document.getElementById("datepicker").value;
                var venc = document.getElementById("datepicker2").value;
                console.log(elab + " " + venc)
                if (elab == "" || venc == "") {
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Debes seleccionar fechas válidas!',
                  });
                }
                else {
                  if (elab > venc) {
                    Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Fecha de elaboración debe ser inferior a la Fecha de vencimiento!',
                    });
                  }
                  else {
                    if (!isNaN(nombre) || !isNaN(marca) || nombre == "" || marca == "" || isNaN(stockact)
                      || isNaN(stockmin) || stockmin == 0 || stockact == 0 || precio == 0 || isNaN(precio)) {
                      Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Existen campos incompletos o con valores inválidos.',
                      });
                    }
                    else {
                      let timerInterval
                      Swal.fire({
                        title: 'Editando producto...',
                        timer: 2000,
                        timerProgressBar: true,
                        onBeforeOpen: () => {
                          Swal.showLoading()
                          timerInterval = setInterval(() => {
                            const content = Swal.getContent()
                            if (content) {
                              const b = content.querySelector('b')
                              if (b) {
                                b.textContent = Swal.getTimerLeft()
                              }
                            }
                          }, 100)
                        },
                        onClose: () => {
                          clearInterval(timerInterval)
                        }
                      }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {
                          console.log('Message was closed by the timer')
                        }
                      })
                      document.getElementById("editProd").submit();
                    }
                  }
                }
              }
              else {
                if (!isNaN(nombre) || !isNaN(marca) || nombre == "" || marca == "" || isNaN(stockact)
                  || isNaN(stockmin) || stockmin == 0 || stockact == 0 || precio == 0 || isNaN(precio)) {
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Existen campos incompletos o con valores inválidos.',
                  });
                }
                else {
                  let timerInterval
                  Swal.fire({
                    title: 'Agregando/Editando producto...',
                    timer: 2000,
                    timerProgressBar: true,
                    onBeforeOpen: () => {
                      Swal.showLoading()
                      timerInterval = setInterval(() => {
                        const content = Swal.getContent()
                        if (content) {
                          const b = content.querySelector('b')
                          if (b) {
                            b.textContent = Swal.getTimerLeft()
                          }
                        }
                      }, 100)
                    },
                    onClose: () => {
                      clearInterval(timerInterval)
                    }
                  }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                      console.log('Message was closed by the timer')
                    }
                  })
                  document.getElementById("editProd").submit();
                }
              }
            }
          </script>

          <input type="button" class="btn btn-danger boton1" style="position: absolute; top: 320px; right: 300px;"
            align="left" onclick="comprobarValidez(seleccion)" value="Editar">
        </div>

        <div class="form-group" id="cont2" style="display:none; padding:10px;">
          <div class="form-group" style="padding:10px;">
            <label for="tipox"> Tipo </label>
            <select name="selecciontipo" id="selecciontipo">
              <option value="hogar">Hogar</option>
              <option value="colegio">Colegio</option>
              <option value="aseo">Aseo</option>
            </select>
            <div class="form-group" id="btn">
              <input type="button" class="btn btn-danger boton1" style="position: absolute; top: 320px; right: 300px;"
                align="left" onclick="comprobarValidez(seleccion)" value="Editar">
            </div>
          </div>
        </div>
        <script>
          var tipo = "<%= producto.tipo%>";
          if (tipo != "comestible") {
            document.getElementById('seleccion').value = "no comestible";
            document.getElementById('cont').style.display = 'none';
            document.getElementById('cont2').style.display = 'block';
          }
        </script>
      </form>
    </div><!-- fin del cuerpo4-->
  </div>
  <img src="images\diddytf.png" alt="" style="position: absolute; top: 280px; right: 3px;width:230px;height:330px;">
  <img src="images\donkey free.png" alt="" style="position: absolute; top: 280px; left: 2px;width:260px;height:350px;">
</body>
<footer class="foo footer-dark bg-dark">
  <div class="footer-copyright text-center py-1">© 2020 Copyright:
    <a> SantaFeria</a>
  </div>
  <!-- Copyright -->

</footer>

</html>