<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css\bootstrap.css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js\bootstrap.js"></script>
<script src="css\bootstrap.css"></script>
<link rel="stylesheet" href="css\custom.css">
<script src="https://kit.fontawesome.com/c171c885c2.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script>
	$(document).ready(function () {
		$("#tableSearch").on("keyup", function () {
			var value = $(this).val().toLowerCase();
			$("#myTable tr").filter(function () {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});

</script>


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="images\favicon\favicon.ico" type="image/x-icon" />
	<title>Lista Usuarios</title>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" style="font-family: dkfont;cursor: default;color: white"> <img src="images\apple.png"
			width="30" height="30" class="d-inline-block align-top" alt=""> SantaFeria App</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item dropdown" id="navInv">

				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Inventario
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href='/addProduct'>Agregar Producto</a>
					<a class="dropdown-item" href='/listProducts'>Lista de Productos</a>
				</div>
			</li>
			<li class="nav-item dropdown" id="navVen">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Ventas
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href='/makeSale'>Realizar Venta</a>
					<a class="dropdown-item" href='/listSales'>Lista de Ventas</a>
				</div>
			</li>

			<li class="nav-item dropdown" id="navAdm">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Administrador
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href='/addUser'>Agregar Usuario</a>
					<a class="dropdown-item" href='/listUsers'>Lista de Usuarios</a>
					<a class="dropdown-item" href='/reportManag'>Gestión de Reportes</a>
				</div>

			</li>
			<li class="nav-item dropdown" style="position: absolute; right: 120px">

				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> <img src="\images\user.png" width="30" height="30">
					Sesión
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item">
						<p id="user" style="color: black"></p>
					</a>
					<script>
						document.getElementById("user").innerHTML = "<%=sesion.nameUser%>";
					</script>
					<a class="dropdown-item" href="/passChange">Cambiar Contraseña</a>
					<script>
						function logout() {
							Swal.fire({
								title: '¿Estás seguro de que quieres cerrar sesión?',
								icon: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#3085d6',
								cancelButtonColor: '#d33',
								cancelButtonText: 'Cancelar',
								confirmButtonText: 'Confirmar'
							}).then((result) => {
								if (result.value) {
									let timerInterval;
									Swal.fire({
										title: 'Hasta la próxima!',
										timer: 2000,
										timerProgressBar: true,
										onBeforeOpen: () => {
											Swal.showLoading()
											timerInterval = setInterval(() => {
												const content = Swal.getContent()
												if (content) {
													const b = content.querySelector('b')
													if (b) {
														b.textContent = Swal.getTimerLeft()
													}
												}
											}, 100)
										},
										onClose: () => {
											clearInterval(timerInterval)
										}
									}).then((result) => {
										/* Read more about handling dismissals below */
										if (result.dismiss === Swal.DismissReason.timer) {
											console.log('Message was closed by the timer')
										}
									});
									window.location = '/';
								}
							})
						}
					</script>
					<a class="dropdown-item" onclick="logout()" style="cursor:pointer">Cerrar Sesión</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
<div>
	<break></break>
</div>
<script type="text/javascript">
	function preventBack() { window.history.forward(); }
	setTimeout("preventBack()", 0);
	window.onunload = function () { null }
</script>

<body>
	<% if(resultado != ""){ %>
	<div class="container" align="center"
		style="top: 165px; left: 400px; position: absolute; width: 500px; height: 20px">
		<div class="alert alert-<%=restipo%>">
			<strong>Alerta </strong>: <%=resultado%>
		</div>
	</div>
	<% } %>
	<img src="images\textura dk.jpg" alt="" style="border-radius: 15% ;position: absolute; top: 60px; 
	left: 355px; width:645px;height:100px;">
	<div class="container" align="center">
		<div class="titulos" align="center">
			<h1 class="display-3" style="position: relative;font-family: dkfont; font-size: 70px; color:red; font-weight: bold;text-shadow: 2px 0 0 #ffee00, -2px 0 0 		#ffee00, 0 2px 0 #ffee00, 0 -2px 0
			#ffee00, 1px 1px #ffee00, -1px -1px 0 #ffee00, 1px -1px 0 #ffee00, 1px -1px 0 #ffee00, 
			1px -1px 0 #ffee00, -1px 1px 0 #ffee00">Lista de usuarios</h1>
			<!-- <p class="lead">Por favor, inicie sesión con los datos solicitados debajo</p> -->
		</div>
	</div>
	<br> <br> <br> <br> <br>
	</div>
	<div class="input-group md-form form-sm form-1 pl-0"
		style="position: absolute; top: 190px; right: 100px; width: 260px">
		<div class="input-group-prepend">
			<span class="input-group-text purple lighten-3" id="basic-text1" style="height: 25px">
				<i class="fas fa-search " aria-hidden="true"></i>
			</span>
		</div>
		<input class="form-control my-0 py-1" id="tableSearch" type="text" placeholder="Buscar..." aria-label="Search">
	</div>
	<div class="container" align="center" style="position: absolute; top: 220px; left: 225px;">

		<div class="table-responsive-sm" align="right" style="max-height: 300px; width: 1000px ;overflow: auto">

			<table class="table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Tipo</th>
						<th scope="col">Email</th>
						<th scope="col">Telefono</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<% for(var i = 0; i < users.rows.length; i++) { %>
				<tr>
					<td><%= users.rows[i].nombrecompleto %></td>
					<td><%= users.rows[i].tipo %></td>
					<td><%= users.rows[i].email %></td>
					<td><%= users.rows[i].telefono %></td>
					<td>
						<span class="btn btn-info"> <a href="/editUser?id=<%= users.rows[i].rutpas %>"
								style="color: white">Editar</a> </span>
					</td>
					<td><% if(users.rows[i].estado == 'unblocked'){ %>
						<span class="btn btn-info"> <a href="/blockUser?id=<%= users.rows[i].rutpas %>" align="center"
								style="color: white">Bloquear</a> </span>
						<% } %>
						<% if(users.rows[i].estado == 'blocked'){ %>
						<span class="btn btn-info"> <a href="/unblockUser?id=<%= users.rows[i].rutpas %>" align="center"
								style="color: white">Desbloquear</a> </span>
						<% } %>
					</td>

					<!--
						<td>
							<span class="btn btn-info"> <a href="/delUser?id=<%= users.rows[i].rutpas %>" style="color: white">Eliminar</a> </span>
						</td>
						-->

				</tr>
				<% } %>
			</table>

		</div>
		<form style="position: absolute; top: 290px; left: 400px" action="/addUser">
			<button type="submit" class="btn btn-primary" style="margin: 20px">Agregar Usuario</button>
		</form>

	</div>
	<img src="images\dkfamily.png" alt="" style="position: absolute; top: 55px; left: 5px; width:280px;height:390px;">
</body>
<footer class="foo footer-dark bg-dark">
	<div class="footer-copyright text-center py-1">© 2020 Copyright:
		<a> SantaFeria</a>
	</div>
	<!-- Copyright -->

</footer>

</html>